*, *:before, *:after {
	box-sizing: border-box;
}

/* Semantic Component */

main{
	padding-left: 25%;
}

nav{
	z-index: 10;
	margin-left: -25%; 
	position: fixed;
	top: 0;
	bottom: 0;
	width: 25%;
	background: linear-gradient(to bottom , #1781bb, #1fec93)
}

header h1{
	color: #1b718e;
}


footer{
	min-height: 100px;
}

footer p{
	color: white;
	text-align: center;
	background: linear-gradient(to right , #18adfd, #1fec93);
	padding: 8px;
	border-radius: 20px;
	font-size: 12px;
}

/* Common Elements */

html{
	font-family: sans-serif;
	box-sizing:  border-box;
	background: #e6e5e5;
}

img {
	border: 0;
}

/* Common Class */

.nav-top{
	clear: both;
}

.nav-top h1{
	text-align: right;
}

.nav-top ul{
	list-style: none;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    height: 60px;
    border-bottom: 1px #1b718e solid;
}

.nav-top ul li{
	float: right;
    min-width: 50px;
    padding: 5px 15px 8px 15px;
}

.nav-top ul li:hover{
	border-radius: 50px;
	background: linear-gradient(to right , #18adfd, #1fec93);
}

.nav-top ul li:hover > a{
	color: white;
}

.nav-top a{
	text-decoration: none;
	font-size: 12px;
	color: #3a718e;
}

.container{
	max-width: 768px;
	margin: auto
}

.face{
	width: 200px;
	height: auto;
}

.thumb{
	height: auto;
	position: relative;
	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.single-post{
	background: white;
	min-height: 350px;
	border-width: 4px;
	border-color: #18adfd;
	border-radius: 10px;
	margin-bottom: 30px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: 0.3s box-shadow;
}

.single-post:hover{
	box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}

.single-post section p{
	padding: 10px 20px 20px;
    font-size: 20px;
	color: rgba(0,0,0,.8);
	line-height: 1.5;
}

.post-header{
	background: linear-gradient(to right , #18adfd, #1fec93);
	border-radius: 10px 10px 0 0;
	border-bottom: 2px;
    border-bottom-color: #12ffcf;
    border-bottom-style: solid;
    border-bottom-width: 4px;
}

.post-header h1{
	color: white;
	margin: 0;
	padding: 20px 20px 0;
}

.post-header h4{
	margin: 0;
	padding: 10px 20px 0px;
	color: #0d6f92;
}

.post-header h3{
	margin: 10px 0 10px 20px;
    display: inline-block;
    color: #f9fdff;
    background: #1d8c94;
    padding: 5px 15px 5px 15px;
    border-radius: 31px;
}

.atribusi{
	margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    width: 200px;
}

/* Utilities */
.center{
	text-align: center;
	position: relative;
	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
}

.center h1{
	text-align: center;
	margin-bottom: 5px;
	color: rgb(255, 255, 255);
}

.center p{
	color: #227394;
}

.center img{
	width: 150px;
	height: 150px;
}

.center span img{
	width: 80px;
	height: auto;
}


.box{
	padding: 1em
}

.pure-img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.banner{
	width: 100%; 
	height: auto;
	max-height: 400px; 
	background-size: cover; 
	background-repeat: no-repeat; 
	border-radius: 0px;
}

.filter{
	max-height: 400px;
}

.filter div img{
	position: relative;
	top: -400px;
}

.fill-filter{
	position: relative;
    width: 100%;
    height: 400px;
    z-index: 3;
    background: rgba(255, 255, 255, 0);
    transition: 0.5s background blur;
}

.fill-filter:hover{
	background: linear-gradient(to right , rgba(160, 40, 181, 0.6), rgba(31, 236, 147, 0.8));
}


.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
}

/* arrow made by css */

.arrow-down {
	position: absolute;
	left: 62%;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #12ffcf;
	position: absolute;
	z-index: 30;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue; 
}

/* media queries */

@media (max-width: 1100px) {

	.hidden{
		display: none;
	}

	main{
		padding-left: 0;
		padding-right: 0;
	}	

	.arrow-down{
		left: 50%;
	}

	footer{
		padding: 0;
	}
}

@media (max-width: 720px) {

	.pure-u-1-5 .hidden500{
		display: none;
	}

	.pure-u-4-5{
		width: 100%;
	}


	#master-post{
		padding-left: 5%;
		padding-right: 5%;
	}

	.single-post{
		margin-bottom: 20px;
	}

	header h1{
		padding-left: 5%;
	}

	.fill-filter{
		display: none;
	}

	.filter div img{
		top: 0;
	}
}
